doctype html
html
	head
		meta(charset="utf-8")
		script(src="/script/main.js")
		link(rel="stylesheet", href="/style/main.css")
		block title
			title= title
	// Codepony LunaSquee
	body
		header
			block header
		.site
			block content
		footer
			block footer
